body {
  font-family: 'Montserrat', sans-serif;
}

.header {
  padding-top: 25px;
  background-image: url(../img/header__image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.header:before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2A2C2F;
  opacity: 0.59;
  z-index: -1;
}

.container {
  margin: 0 auto;
  max-width: 1216px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 149px;
  height: 17px;
  background-image: url(../img/header__logo.svg);
  background-size: contain;
  background-repeat: no-repeat; 
  display: block;
}

.header__menu {
  display: flex;
  gap: 52px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header__link {
  font-size: 18px;
  font-weight: 500;
  line-height: 80px;
  color: #fff;
  text-decoration: none;
}

.btn {
  width: 149px;
  height: 56px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background-color: #07AF91;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  padding: 0;
}

.header__offer {
  padding: 140px 0 300px 0;
  max-width: 780px;
}

.header__title {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin: 0;
  text-transform: uppercase;
  font-size: 43px;
  font-weight: 700;
  line-height: 60px;
  padding-left: 10px;
}

.header__title-color {
  display: block;
  position: relative;
  background-color: #07AF91;
  border-radius: 3px;
  padding: 0 11px;
  left: -11px;
  box-sizing: border-box;
}

.header__subtitle {
  font-size: 34px;
  font-weight: 400;
  padding: 22px 0 34px 11px;
  margin: 0;
  color: #fff;
}

.btn-application {
  width: 219px;
  height: 80px;
  background: linear-gradient(276.41deg, #016CA8 -7%, #61B5E4 77.16%);
  border-radius: 10px;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  padding: 0;
  cursor: pointer;
}

.btn-application_margin-left {
  margin-left: 11px;
}

